.category__img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.category {
  /* height: 350px; */
  background-color: #fff;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  height: 400px;
}

.category__imgs img {
  /* width: 160px; */
  width: 95%;
  max-height: 100px;
  object-fit: cover;
}
.category__imgs {
  max-height: 300px;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  /* place-items: center; */
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .category {
    height: 480px;
  }
  .category__img {
    max-height: 200px;
  }
}

@media screen and (min-width: 1230px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.category__container {
  /* margin-top: -25%; */
  position: relative;
  z-index: 33;
}

.category--only {
  height: 380px;
}
